<!DOCTYPE html>
<html lang="en-us" data-ng-app="colorhelper">

    <head>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/resource/style/normalize.css"/>
        <link rel="stylesheet" href="/resource/style/main.css"/>
        <link id="favicon" rel="icon" type="image/png" href="" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="colorhelper">

    </head>

    <body data-ng-controller="MainController">

        <!-- Content wrap -->
        <div role="main" id="main-wrapper" class="inner">

            <!-- Header -->
            <header id="main-header">

                <!-- Hex codes and color options -->
                <ul class="color-tools-wrapper">

                    <li data-ng-repeat="color in palette.colors track by $index"
                        data-ng-style="{ 'width' : (100 / palette.colors.length) + '%',
                                         'color' : '#' + color }"
                        class="color-tool-item">
                        <span>#{{ color }}</span>

                        <div class="color-tools">
                            <a href="#" data-ng-click="copy( '#' + color )">copy</a> /
                            <a href="#">edit</a> /
                            <a href="#"  data-ng-click="removeColor( $index )">remove</a>
                        </div>
                    </li>

                </ul>

                <div id="palette-wrapper">

                    <svg id="header-svg" data-ng-controller="SVGController" viewBox="0 0 100 100" preserveAspectRatio="none">

                        <!-- Track by $index to avoid duplicate key error https://docs.angularjs.org/error/ngRepeat/dupes -->
                        <g data-ng-repeat="color in palette.colors track by $index" class="color">

                            <path data-index="{{ $index }}"
                                  data-ng-attr-fill="{{ '#' + color }}"
                                  data-ng-attr-d="{{ getColorPath( $index, palette.colors.length ) }}"
                                  data-ng-attr-fill="color"
                                  data-ng-index="$index"
                                  class="color-background">
                            </path>

                        </g>

                    </svg>

                    <!-- Main content -->
                    <div id="palette-content">

                        <h1 id="palette-heading">{{ palette.title }}</h1>

                        <ul id="palette-meta" data-ng-hide="palette.modified">

                            <li class="meta-item" data-ng-repeat="(key, value) in palette.meta track by $index" data-ng-attr-title="{{ key }}" data-ng-hide="value == 0">

                                <img class="meta-icon" data-ng-src="resource/graphic/{{ key }}.png" alt="" /> {{ value }}

                            </li>

                            <li class="meta-item">

                                <a data-ng-href="{{ palette.url }}" data-ng-attr-title="{{ ll( '%meta.colourlovers' ) }}"><img class="meta-icon" src="resource/graphic/outgoing-link.png" alt="" /><span>CL&#x2197;</span></a>

                            </li>

                        </ul>

                    </div>

                </div>

            </header>


            <!-- Palette tools -->
            <div class="palette-tools-wrapper" data-ng-controller="PaletteController">

                <ul>

                    <li data-ng-repeat="item in menu">

                        <a data-ng-href="{{ item.href }}">
                            {{ item.label }}
                        </a>

                    </li>


                </ul>

            </div>


            <!-- Footer -->
            <div id="footer">

                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>

        </div>

        <!-- Navigation -->
        <div id="nav" data-ng-style="{ 'border-bottom-color': colorscheme.details }">

            <div class="inner">

                <h1 id="page-heading"><a data-ng-click="getPalette( 'random' )" href="" data-ng-style="{ 'color': colorscheme.details }">

                    {{ app.name }}

                </a></h1>

                <!-- Menu
                <ul data-ng-controller="NavigationController">

                    <li data-ng-repeat="item in menu">
                        <a data-ng-href="{{ item.href }}">
                            {{ item.label }}
                        </a>

                        <!-- Sub menu -->
                <!--
                        <ul data-ng-show="item.subMenu">
                            <li data-ng-repeat="child in item.subMenu">
                                <a data-ng-href="{{ child.href }}">
                                    {{ child.label }}
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul> -->

            </div>

        </div>

        <!-- Status bar -->
        <div id="status-bar" data-ng-show="status.show" data-ng-style="{ 'background': status.background }">

            <div class="inner">

                <span class="status-title">{{ status.title }}</span> {{ status.message }}
                <a class="close nolink" href="close"><img id="close-icon" src="resource/graphic/close-status.png" alt=""/></a>

            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="resource/javascript/l10n.js"></script>
        <script src="resource/javascript/localizations.js"></script>
        <script src="resource/javascript/app.js"></script>

        <script src="resource/javascript/controller/main.js"></script>
        <script src="resource/javascript/controller/navigation.js"></script>
        <script src="resource/javascript/controller/svg.js"></script>
        <script src="resource/javascript/controller/palette.js"></script>

        <script src="resource/javascript/service/palette.js"></script>
        <script src="resource/javascript/service/status.js"></script>
        <script src="resource/javascript/service/colorscheme.js"></script>

        <script src="resource/javascript/factory/dataservice.js"></script>

    </body>

</html>