<!DOCTYPE html>
<html lang="en-us" data-ng-app="colorhelper">

    <head>

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:700,600,400" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/resource/style/normalize.css"/>
        <link rel="stylesheet" href="/resource/style/main.css"/>
        <link id="favicon" rel="icon" type="image/png" href="" />

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="colorhelper">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    </head>

    <body data-ng-controller="MainController">

        <!-- Navigation -->
        <div id="nav" data-ng-style="{ 'border-bottom-color': colorscheme.details }">

            <div class="inner">

                <h1 id="page-heading"><a data-ng-click="getPalette( 'random' )" href="" data-ng-style="{ 'color': colorscheme.details }">

                    {{ app.name }}

                </a></h1>

            </div>

        </div>

        <!-- Status bar -->
        <div id="status-bar" class="ng-hide-animate" data-ng-show="status.show" data-ng-style="{ 'background': status.background }">

            <div class="inner">

                <span class="status-title">{{ status.title }}</span> {{ status.message }}
                <a class="close nolink" href="close"><img id="close-icon" src="resource/graphic/close-status.png" alt=""/></a>

            </div>

        </div>

        <!-- Menu -->
        <div id="menu" data-ng-controller="NavigationController">
            <div class="inner">

                <!-- Level 0 -->
                <ul>
                <li>

                    <!-- Label (SVG COFFEE CUP MENU ICON) -->
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26">
                        <path d="M24.375 8.125h-4.875v-2.438c0-2.244-4.365-4.063-9.75-4.063s-9.75 1.819-9.75 4.063v16.25c0 2.244 4.365 4.063 9.75 4.063s9.75-1.819 9.75-4.063v-2.438h4.875c0.897 0 1.625-0.728 1.625-1.625v-8.125c0-0.897-0.728-1.625-1.625-1.625zM4.47 6.561c-0.939-0.31-1.508-0.641-1.813-0.873 0.305-0.232 0.874-0.564 1.813-0.873 1.471-0.485 3.346-0.752 5.28-0.752s3.809 0.267 5.28 0.752c0.939 0.309 1.508 0.641 1.813 0.873-0.305 0.232-0.874 0.564-1.813 0.873-1.471 0.485-3.346 0.752-5.28 0.752s-3.809-0.267-5.28-0.752zM22.75 16.25h-3.25v-4.875h3.25v4.875z"
                              data-ng-attr-fill="{{ colorscheme.details }}"></path>
                    </svg>

                    <!-- Level 1 -->
                    <ul>

                        <!-- Label -->
                        <li data-ng-repeat="item in menu"
                            class="{{ item.class }}">
                            {{ item.label }}

                            <!-- Level 2 -->
                            <ul data-ng-if="item.subMenu">

                                <li data-ng-repeat="child in item.subMenu track by $index"
                                    data-ng-click="child.fn( $index )"
                                    class="{{ child.class }}">

                                    <!-- Label & link -->
                                    <a href="" data-ng-href="{{ child.href }}" data-ng-if="!child.isFav">
                                        {{ child.label }}
                                    </a>

                                    <!-- Level 3 (horizontal palette favorite color blocks) -->
                                    <ul data-ng-if="child.isFav" class="{{ child.class }}">

                                        <li class="favorite-color rm-fav"
                                            data-ng-click="child.rmfn( $index )"
                                            style="background: url('resource/graphic/bin.png') center center no-repeat"
                                            ></li><div class="favorites-thumb-overlay" data-ng-click="child.setfn( $index )"><li data-ng-repeat="color in child.colors track by $index"
                                            data-ng-style="{ 'background-color': '#' + color }"
                                            class="favorite-color"></li></div>

                                    </ul>

                                </li>

                            </ul>

                        </li>

                    </ul>

                </li>
                </ul>

            </div>
        </div>

        <!-- Content wrap -->
        <div role="main" id="main-wrapper" class="inner">

            <!-- Header -->
            <header id="main-header">

                <!-- Hex codes and color options -->
                <ul class="color-tools-wrapper">

                    <li data-ng-repeat="color in palette.colors track by $index"
                        data-ng-style="{ 'width' : (100 / palette.colors.length) + '%',
                                         'color' : '#fff' }"
                        class="color-tool-item">
                        <span>#{{ color }}</span>

                        <div class="color-tools">
                            <a href="#" data-ng-click="copy( '#' + color )">copy</a> /
                            <a href="#" data-ng-click="toggleColorEditDialog( $index )">edit</a> /
                            <a href="#" data-ng-click="removeColor( $index )">remove</a>
                        </div>

                        <c-edit-dialog data-show="showColorEditDialog[ $index ]" data-idx="$index"></c-edit-dialog>

                    </li>

                </ul>

                <div id="palette-wrapper">

                    <svg id="header-svg" data-ng-controller="SVGController" viewBox="0 0 100 100" preserveAspectRatio="none">

                        <!-- Track by $index to avoid duplicate key error https://docs.angularjs.org/error/ngRepeat/dupes -->
                        <g data-ng-repeat="color in palette.colors track by $index" class="color">

                            <path data-index="{{ $index }}"
                                  data-ng-attr-fill="{{ '#' + color }}"
                                  data-ng-attr-d="{{ getColorPath( $index, palette.colors.length ) }}"
                                  data-ng-index="$index"
                                  class="color-background"
                                  d="">
                            </path>

                        </g>

                    </svg>

                    <!-- Palette meta -->
                    <div id="palette-content">

                        <h1 id="palette-heading" data-ng-click="toggleNameEditDialog()" data-ng-title="{{ ll( '%edit.name' ) }}">{{ palette.title }}</h1>

                        <ul id="palette-meta" data-ng-hide="palette.modified">

                            <li class="meta-item" data-ng-repeat="(key, value) in palette.meta track by $index" data-ng-attr-title="{{ key }}" data-ng-hide="value == 0">

                                <img class="meta-icon" data-ng-src="resource/graphic/{{ key }}.png" src="" alt="" /> {{ value }}

                            </li>

                            <li class="meta-item">

                                <a data-ng-href="{{ palette.url }}" data-ng-attr-title="{{ ll( '%meta.colourlovers' ) }}"><img class="meta-icon" src="resource/graphic/outgoing-link.png" alt="" /><span>CL&#x2197;</span></a>

                            </li>

                        </ul>

                        <pn-edit-dialog data-show="showNameEditDialog"></pn-edit-dialog>

                    </div>

                </div>

            </header>


            <!-- Palette tools -->
            <div class="palette-tools-wrapper" data-ng-controller="PaletteController">

                <c-add-dialog data-show="showAddDialog"></c-add-dialog>

                <ul id="palette-tools">

                    <li data-ng-repeat="item in menu"
                        data-ng-init="fill = '#707070'"
                        data-ng-mouseover="fill = colorscheme"
                        data-ng-mouseleave="fill = '#707070'"
                        data-ng-click="item.fn()"
                        data-ng-class="item.class">

                        <a data-ng-href="{{ item.href }}"
                           class="anchor">

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                                <path data-ng-repeat="path in item.paths"
                                      data-ng-attr-d="{{ path }}"
                                      class="icon"
                                      fill="{{  fill }}"></path>
                            </svg>

                            <p data-ng-style="{ 'color': fill }" class="label">{{ item.label }}</p>

                        </a>

                    </li>

                </ul>

            </div>

            <svg id="fancy-footer" viewBox="0 0 100 130" preserveAspectRatio="none">

                <path d="M0,0 l140,0 0,140 -140,-60z" fill="#ffffff"></path>

            </svg>


            <!-- Footer -->
            <div id="footer">

                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>

        </div>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="resource/javascript/angular-local-storage.min.js"></script>

        <script src="resource/javascript/l10n.js"></script>
        <script src="resource/javascript/localizations.js"></script>
        <script src="resource/javascript/colors.js"></script>
        <script src="resource/javascript/jqColorPicker.js"></script>
        <script src="resource/javascript/app.js"></script>

        <script src="resource/javascript/controller/main.js"></script>
        <script src="resource/javascript/controller/navigation.js"></script>
        <script src="resource/javascript/controller/svg.js"></script>
        <script src="resource/javascript/controller/palette.js"></script>

        <script src="resource/javascript/service/palette.js"></script>
        <script src="resource/javascript/service/status.js"></script>
        <script src="resource/javascript/service/colorscheme.js"></script>
        <script src="resource/javascript/service/settings.js"></script>

        <script src="resource/javascript/factory/dataservice.js"></script>

        <script src="resource/javascript/directive/c.add.dialog.js"></script>
        <script src="resource/javascript/directive/c.edit.dialog.js"></script>
        <script src="resource/javascript/directive/pn.edit.dialog.js"></script>

    </body>

</html>