* {

    margin:                 0;
    padding:                0;
    box-sizing:             border-box;

}

body {

    background-color:       #f8f8f8;
    font-family:            'Open Sans', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',Osaka, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

}

a,
a:active,
a:visited,
h1,
h2,
h3,
p {

    text-decoration:        none;
    color:                  #3a3a3a;
    margin:                 0;
    padding:                0;

}

li {

    list-style-type:        none;

}

#nav {

    background-color:       #ffffff;
    position:               fixed;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 50px;
    border-bottom-width:    2px;
    border-bottom-style:    solid;
    z-index:                5;

}

.inner {

    width:                  85%;
    max-width:              1080px;
    margin:                 0 auto;

}



#nav .inner h1 {

    float:                  left;
    line-height:            50px;
    height:                 50px;
    font-size:              22px;
    font-weight:            600;
    margin-right:           25px;

}

#nav #refresh {

    margin-top:             10px;
    width:                  30px;
    height:                 30px;

}

#nav ul {

    float:                  left;

}

#nav ul li {

    float:                  left;
    width:                  80px;
    text-align:             center;
    height:                 100%;


}

#nav ul li:first-child {


}

#status-bar {

    position:               fixed;
    top:                    50px;
    left:                   0;
    width:                  100%;
    height:                 35px;
    font-size:              0.9em;
    color:                  #1a1a1a;
    line-height:            35px;
    text-align:             center;
    z-index:                5;
    opacity:                1;

}


#status-bar.ng-hide {

    opacity:                0;
    -webkit-transition:     linear 1s 1s;
    transition:             opacity 0.5s;


}

#status-bar:not(.ng-hide) {

    opacity:                1 !important;
    transition:             none;

}

#status-bar .close {

    right:                  0;
    display:                inline-block;
    float:                  right;

}

#status-bar #close-icon {

    width:                  31px;
    height:                 31px;
    padding-top:            2px;
    opacity:                0.5;
    -moz-opacity:           0.5;

}



#status-bar .status-title {

    font-weight:            700;

}

#main-wrapper {

    margin-top:             65px;

}

#palette-wrapper {

    background:             #ffffff;

}


#main-header {

    position:               relative;
    margin:                 0 auto;

}

#header-svg {

    position:               relative;
    top:                    0;
    left:                   0;
    width:                  100%;
    height:                 320px;
    z-index:                4;
    background:             #ffffff;

}

#header-svg path {

    -webkit-transition:     linear 0.1s;
    transition:             linear 0.1s;

}

#main-header #loading {

    position:               absolute;
    top:                    calc( 50% - 50px ); /* vertical center */
    z-index :               1; /* place beneath color palette */

}


.color {

    height:                 300px;
    display:                inline-block;
    position:               relative;
    z-index:                2; /* place above loading symbol */

}

.color-overlay.edit,
.color-overlay.remove {

    display:                none;
    position:               relative;
    z-index:                3; /* place above color */
    cursor:                 pointer;
    -webkit-user-select:    none; /* webkit (safari, chrome) browsers */
    -moz-user-select:       none; /* mozilla browsers */
    -khtml-user-select:     none; /* webkit (konqueror) browsers */
    -ms-user-select:        none; /* IE10+ */

}

.color:hover .color-overlay,
.color:active .color-overlay {

    display:                inline-block;

}

.color-overlay:hover {

    cursor:                 pointer;

}

#palette-content {

    position:               relative;
    margin:                 -10px 0 0 0;
    padding:                0 0 0 30px;

}

#palette-content #palette-heading {

    position:               relative;
    top:                    -30px;
    left:                   0;
    z-index:                4;
    padding:                15px 25px 0 0;

    font-size:              1.6em;
    font-weight:            200;
    color:                  #4d4d4d;

}

#palette-content #palette-meta {

    position:               relative;
    top:                    -30px;
    z-index:                4;

}

#palette-content #palette-meta li {

    display:                inline-block;
    padding:                3px;
    margin-right:           4px;

}

#palette-content #palette-meta li span {

    font-size:              14px;
    position:               relative;
    top:                    -1px;

}

#palette-content #palette-meta li span:hover {

    text-decoration:        underline;

}

#palette-content #palette-meta .meta-icon {

    opacity:                0.5;
    height:                 16px;
    width:                  16px;
    position:               relative;
    top:                    2px;
    margin-right:           3px;

}

.remove-icon {

    cursor:                 pointer;

}

.color-tool-item {

    position:               relative;
    display:                inline-block;

    padding:                20px 0;
    text-align:             center;

}

.color-tools {

    display:                none;
    position:               absolute;
    top:                    0;
    left:                   0;
    padding:                20px 0;
    overflow:               visible;
    white-space:            nowrap;
    text-align:             center;
    width:                  100%;
    height:                 100%;

    text-shadow:            0 0 1px rgba(107, 107, 107, 1);

}

.color-tools a {

    color:                  #ffffff;

}

.color-tool-item:hover span {


    opacity:                0;

}

.color-tool-item:hover .color-tools {

    display:                block;

}

.color-tools-wrapper {

    height:                 62px;
    position:               relative;
    top:                    62px;
    z-index:                5;

}

.palette-tools-wrapper {

    position:               relative;
    margin:                 5px 0;
    height:                 135px;
    background-color:       #ffffff;

}

#fancy-footer {

    height:                 130px;
    width:                  100%;

}

#palette-tools {

    padding:                30px 0;

}

#palette-tools li {

    float:                  left;
    width:                  33%;
    text-align:             center;
    padding:                10px 0;
    font-size:              14px;

}

#palette-tools li:not( :nth-child( 3 ) ) {

    border-right:           1px solid #e1e1e1;

}

#palette-tools .anchor {

    display:                inline-block;
    width:                  100%;
    height:                 100%;

}

#palette-tools .icon,
#palette-tools .anchor svg {

    -webkit-transition:     linear 0.2s;
    transition:             linear 0.2s;

}

#palette-tools .label {

    margin-top:             5px;

}

.popup-wrapper {

    position:               fixed;
    top:                    0;
    left:                   0;
    height:                 100%;
    width:                  100%;
    z-index:                6;

}

.popup-overlay {

    position:               absolute;
    top:                    0;
    left:                   0;
    height:                 100%;
    width:                  100%;
    z-index:                6;
    background-image:       url('/resource/graphic/88w.png');

}

.popup-inner-wrapper {

    z-index:                7;
    position:               absolute;

    /* Center the dialog */
    top:                    33%;
    left:                   50%;
    transform:              translate(-50%, -50%);
    -webkit-transform:      translate(-50%, -50%);
    -moz-transform:         translate(-50%, -50%);

    background-color:       #fff;

}

.popup-inner h2 {

    text-align:             left;

}

/* Top border */
.popup-inner-wrapper ul {

    position:               absolute;
    top:                    0;
    left:                   0;
    margin-left:            -2%;
    width:                  104%;
    height:                 7px;

}

.popup-inner-wrapper ul li {

    display:                inline-block;
    float:                  left;
    height:                 100%;

}

.popup-inner {

    padding:                40px;

}

.popup-inner input[type=text] {

    border:                 none;
    height:                 40px;
    padding:                10px;
    margin:                 30px 0 0 0;
    z-index:                11;
    line-height:            100%;

}

.popup-inner button,
.popup-inner input[type=submit] {

    padding:                10px 5px;
    margin:                 0;
    border:                 0;
    background:             transparent;
    color:                  #3a3a3a;

}

input.color {

    background:             #EBEBEB;

}

.cp-color-picker {

    z-index:                10;
    background-color:       #ffffff !important;

}

.cp-alpha {

    display:                none !important;

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}